body {
    background: #111;
    color: white;
    font-family: Arial;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

input, select {
    width: 80%;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    border: none;
}

button, a {
    padding: 12px 20px;
    margin-top: 15px;
    border-radius: 6px;
    background: cyan;
    color: black;
    text-decoration: none;
}

.graph-img {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
}
